*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(#5e5d5d,#1b1b1b);
    overflow: hidden;
    position: relative;
}
.bot{
    width: 100%;
    height: 13vh;
    background: #181818;
}
.menu ul{
    display: inline-flex;
    margin: 50px;
}
.menu ul li{
    display: inline-flex;
    margin: 0 20px;
    color: #ffffff;
    cursor: pointer;
    padding: 0 3%;
}
.menu li a{
    transition: all 0.3s ease 0s;
}
.menu li a:hover{
    color: #00ffea;
}
.logo img{
    width: 150px;
    margin-top: -30px;
    margin-left: -90px;
}
.active{ 
    color: #818181;
}
.services{
    color: #818181;
}
.about{
    color: #00ffea;
}
.Contacts{
    color: #818181;
}
.order-btn{
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#5e5d5d,#5e5d5d),radial-gradient(circle at top left,#00fd87,#19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
}
.order-btn span{
    display: block;
    padding: 8px 20px;
}
.web-text{
    width: 100%;
    float: left;
}
.web-text p{
    font-size: clamp(9px,20px,100px);
    color: #a1a1a1;
    margin-left: 100px;
    margin-right: 100px;
}